/* styles/Home.module.css */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }
  
  .description {
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .subscribeForm {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .subscribeInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
  }
  
  .subscribeButton {
    padding: 10px;
    font-size: 1rem;
    background-color: #0070f3;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  